html {
    height: 100%;
}
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow: hidden;
}
a {
  color: #00b7ff;
}

.navbar {
   box-shadow: 0 0 16px #000;
}

img#logo {
    width: 40px;
    display: inline-block;
    margin-right: 8px;
    margin-top: -10px;
}
span#logo {
    font-weight: 600;
    font-size: 1.4em;
}

#map {
    height: calc(100% - 72px);
    margin: 52px 0 0 0;
}

ul.nav.navbar-nav li {
    margin-right: 8px;
}